.card {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  width: 282px;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 25px 20px;
  padding: 0;
}

.card__title {
  font-size: 1.5em;
  line-height: 1.2;
  font-weight: 900;
  text-transform: capitalize;
  color: #000;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent url("../images/like-inactive.svg") center no-repeat;
  background-size: contain;
  border: none;
  min-width: 21px;
  height: 18px;
}
.card__like-button-active {
  background: url("../images/like-active.svg");
}

.card__like-button:hover {
  opacity: 0.5;
}
.card__delete-button {
  position: absolute;
  right: 15px;
  top: 18px;
  background: transparent url("../images/Trash.svg") center no-repeat;
  background-size: contain;
  border: none;
  min-width: 21px;
  height: 18px;
}

.card__delete-button:hover {
  opacity: 0.5;
}
