.header {
  border-bottom: rgba(84, 84, 84, 1) 1px solid;
  margin-top: 45px;
}

.header__logo {
  height: 33px;
  width: 173px;
  margin-bottom: 41px;
}

@media screen and (max-width: 320px) {
  .header {
    min-width: 100%;
    margin: 28px 0 0;
  }
  .header__logo {
    height: 24px;
    width: 126px;
    margin-left: 27px;
    margin-bottom: 32px;
  }
}
